# The .vscode folder contains only info that works for this machine and therefore will be excluded.
/.vscode
# DjangoPractice is not relevant for the assignment and therefore will be excluded
/DjangoPractice
# Not including the virtualenv as it probably does not work on another machine anyways.
/virtualenv

# Artificial_Intelligence folder
Django/Artificial_Intelligence/__pycache__

# forms_AI folder
Django/forms_AI/__pycache__
Django/forms_AI/migrations

# mainPage folder
Django/mainPage/__pycache__

# results_AI folder
Django/results_AI/__pycache__
Django/results_AI/migrations